body {
    text-align: center;
    font-family: Arial;
    background: #f5f5f5;
}

.preview-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

#userImage {
    width: 400px;
    border-radius: 10px;
}

#outfitImage {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 200px;
    cursor: move;
}

.outfit-gallery img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.outfit-gallery img:hover {
    transform: scale(1.1);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}